<!-- FOOTER SECTION -->
<footer>
	<div class="row">
		<div class="large-12 columns">
			<!--COPYRIGH-SECTION -->
			<div class="large-6 columns">
  			<p><%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %> <span class="about"> <%= link_to "About", refinery.page_path('About') %></span> <span class="legal"> <%= link_to "Legal", refinery.page_path('Legal')%></p>
			</div>
 			<!-- END COPYRIGH-SECTION -->
 			<!--PAGES-SECTION -->
		  <div class="large-6 columns text-right">
				<ul class="inline">
			    <li>
			      <a href="https://instagram.com/letsmend"  data-options="is_hover:true"><i class="fi-social-instagram size-24"></i></a>
			    </li> 
			    <li>
			      <a href="#"  data-options="is_hover:true"><i class="fi-social-facebook size-24"></i></a>
			    </li> 
			    <li>
			      <a href="#"  data-options="is_hover:true"><i class="fi-social-youtube size-24"></i></a>
			    </li>
			    <li>
      			<a href="https://twitter.com/letsmend"  data-options="is_hover:true"><i class="fi-social-twitter size-24"></i></a>
    			</li>
			  </ul>
		  </div>
		  <!--END PAGES-SECTION -->
		</div> <!-- END 12 COLUMNS -->
	</div><!-- END ROW -->
</footer>
<!-- END FOOTER -->
