<div class="about-wrapper">
	<div class = "row">
		<div class = "large-6 columns">
				<div class = "aboutbox">
					<p>OUR MISSION</p>
					<p>IS TO MEND</p>
					<p>BROKEN HEARTS</p>
				</div>
				<div class = "about">
					<p>There is an art tradition in Japan called kintsugi, where broken pottery is mended with gold so that the cracks are illimunated, not hidden. The belief is that the pottery is more beautiful for having been broken.</p>
					<p>The same is true of broken hearts.</p>
					<p>We believe that you can not only mend, but thrive, after a breakup. We believe an end, in whatever form it takes, is just the beginning of rebuilding the life and love you want. And we're here to guide you on that journey. Let's Mend.</p>
				</div>
			</div>
	</div>
</div>


