<div class ="cleanse wrapper">
<div class="row">
	<div class="large-12 columns">
		<h2>The Mend Cleanse: A new approach to heartbreak.</h2>
	</div>
	<div class="row">
		<div class="large-6 columns"><h1>Our very best stories, advice and hands-on activities delivered to you daily by our Founder, Ellen Huerta. </h1><a href="#" class="button">I'm ready to Mend!</a></div>
		<div class="large-6 columns">
			<div class="flex-video">
		        <iframe width="420" height="315" src="//www.youtube.com/embed/aiBt44rrslw" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

<div class="row">
		<div class="large-12 columns">
	<h2>The Mend Cleanse is a 28 day mind-body-soul cleanse led online by our Founder Ellen Huerta. In it, we share our very best stories, advice and inspiration to help you reflect on your relationship and move forward, wholeheartedly. Every day, you will cultivate connection, gratitude, mindfulness, wellbeing, self compassion and a deeper understanding of love relationships.</h2></div>
</div>

<div class="row"><h2>A letter from Ellen</h2></p>
<div class="row">
	<div class="large-12 columns"></div>
<p>“Time heals all wounds”</p>

<p>How many times have you heard that advice? How many times has it helped you?</p>

<p>A couple years ago, after the messy unraveling of a longterm relationship, I found myself awake thinking about that advice. It was 3am and I was lying in bed, unable to sleep for the millionth night. I was sick of waiting for time to heal my wounds. I wanted to heal my own wounds.</p>

<p>But I didn’t know how. I had already spoken to my friends and family endlessly, and I found the breakup books I had ordered from Amazon were either meant for another generation or too generic. So I did what I do for just about everything: I searched online.</p>

<p>“how to move on"</p>

<p>About 50 searches followed that one. After devouring link after link, I realized that most of the advice ranged from dismissive (“Just get over it.”) to eye roll worthy (“Breakup rule #1: You should take pictures of yourself really dressed up and post them on Facebook.”)</p>

<p>I thought to myself: Why does this all suck? </p>

<p>I knew there wasn't a silver bullet to heartbreak, but I trusted there was more wisdom, and more science-based advice. Where was it?</p>

<p>So, while the world was telling me to go out, line up a bunch of dates and focus on the vague task of “learning to be single,” I turned inward and began to research other ways to mend that were based on authentic experience and research. The lessons I learned on that journey mended my broken heart, but they also set me on a course that changed my life. I felt happier, more connected and more in tune with my authentic self.</p>

<p>Months later, I began sending out a weekly newsletter with some of my findings to see if I could help anyone else, and I was overwhelmed by the positive response. Realizing that people wanted more and that I had more to say, I went back to the drawing board to create a more robust and more beautiful experience. I’m now thrilled to finally share the Mend Cleanse with you today.</p>


<p>Love,
Ellen</p>
	<div class="large-6 columns"></div>
	Screenshots of cleanse

	<div class="row">
	<div class="large-12 columns"><h2>Testimonials</h2></div>

<div class="row">
	<div class="large-12 columns">
	<h1>In 2013, we shared a portion of the Mend Cleanse content with beta testers and gathered their feedback. Here are a few things they said:</h1>
</div>

<div class="large-12 columns">
	<h2>What are you waiting for?</h2>
	<a href="#" class="button">I'm ready to Mend!</a>
</div>

</div>