<!DOCTYPE html>
<head>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title>Terms+Privacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="foundation-5.2.2/css/foundation.min.css">
		<link rel="stylesheet" href="foundation-icons.css"
		<link rel="stylesheet" href="foundation-5.2.2/css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/vendor/modernizr.js"></script>
</head>

<body>
<div class = "row">
	<div class = "large-6 columns">
			<div class = "aboutbox">
				<p>TERMS</p>
				<p>AND</p>
				<p>PRIVACY</p>
			</div>
			<div class = "about">
<p>TERMS OF SERVICE</p>
 

<p>Thank you for visiting letsmend.com (“Mend”). The terms and conditions below (the “Terms”) outline your legal rights and responsibilities when you visit Mend and any related applications whether existing now or in the future (collectively, the “Properties”).</p>

<p>When you access the Properties, download and post any content from or on the Properties, interact with any users or third parties, you indicate that you have read the Terms and agree to be bound by the Terms, whether or not you have registered with the Properties. If you do not agree to the Terms, you may not access any of the Properties. These Terms are the complete agreement between you and Mend, regarding your use of the Properties. We may change the Terms by posting revised Terms on this page; such changes will be effective upon posting. Please carefully read the entire Terms.</p>

<p>A. USE OF OUR PROPERTIES</p>

<p>You agree to use the Properties only in compliance with these Terms and any applicable law, and in a manner that does not violate our legal rights or those of any third party.</p>

<p>You agree that you will only use the Properties for your own personal use. You must be at least eighteen (18) years of age and a resident of the United States of America to use the Properties. Use of the Properties is void where prohibited.</p>

<p>Certain portions of the Properties may be secured or otherwise protected from access except for authorized users with valid login and password information. Individuals without authorization attempting to access these portions of the Properties may be subject to prosecution.</p>

<p>B. YOUR ACCOUNT </p>

<p>1. Account Creation </p>

<p>You must create an account in order to use some of the features offered by the Properties. Use of any personal information that you provide to us during the account creation process, either directly or by logging in through and/or linking with a third party social networking site (including, but not limited to, Facebook), is governed by our Privacy Policy. You are entirely responsible for maintaining the confidentiality and security of your account and you are responsible for all changes and updates submitted through your account and all activities that occur in connection with your account. If there has been unauthorized use of your account, you must notify us by emailing letsmendteam@gmail.com.</p>

<p>When you create an account, you agree to only provide true, accurate and correct information. You may not impersonate someone else, create or use an account for anyone other than yourself, provide an email address other than your own, create multiple accounts except as otherwise authorized by us, or provide or use false information.</p>

<p>2. Cancellation or Suspension</p>

<p>We may cancel or suspend your access to your account, or the Properties generally, in our sole discretion, with or without prior notice, for any or no reason, and with no liability to you or any third party.</p>

<p>C. TERMINATION OF SERVICE</p>

<p>We have the absolute right to offer, manage, regulate, modify, discontinue, and/or eliminate the Properties, or any portion thereof, at any time with or without notice and without any liability to you or any third party.</p>

<p>D. OWNERSHIP OF CONTENT</p>

<p>1. Your Content</p>

<p>You own all content you submit through the Properties, including but not limited to profile information, text, images, videos, comments, reviews, and any other materials (“Your Content”). By submitting Your Content, you grant us an irrevocable, perpetual, world-wide, non-exclusive, royalty-free, sublicensable and transferable license and right to use Your Content for any purpose and in any media now existing or in the future, without any further compensation. You also irrevocably grant the users of the Properties and any third parties who obtained Your Content from us (“Third Party Properties”) the same right you have granted to us herein to use Your Content in connection with their use of the Properties and Third Party Properties. By “use” we mean use, copy, display, share, distribute, modify, translate, adapt, re-edit, compile, reformat, incorporate into advertisements and other works, promote, create derivative works, and in the case of Third Party Properties, allow their users and others to do the same. You irrevocably waive, and cause to be waived, any claims and assertions of moral rights or attribution with respect to Your Content brought against us, any Third Party Properties, and our and their users.<p>

<p>You are responsible for Your Content. You assume all risks and consequences associated with submitting Your Content, including anyone’s reliance on its quality, accuracy, or reliability, or any disclosure by you of information in Your Content that makes you or any third party personally identifiable. You may be held liable for Your Content.<p>

<p>In submitting Your Content to us, you represent that:<p>

<p>You are the sole author of Your Content, and Your Content is not copied from or based on, in whole or in part, any other work or website; and
Use of Your Content by us and/or by the Third Party Properties will not violate or infringe any right of yours or any other third party, including but not limited to any copyrights, trademarks, service marks, logos, trade names, trade dress and other intellectual and proprietary rights.</p>

<p>You have a written consent, release, and/or permission of each and every identifiable individual person in Your Content to use the name or likeness of each and every identifiable person to enable inclusion and use of such submissions in the manner contemplated by us and these Terms.</p>

<p>You agree that any of Your Content submitted to us will not:</p>

<p>Be unlawful, harmful, threatening, abusive, harassing, tortious, indecent, defamatory, vulgar, profane, obscene, libelous, hateful, or racially, ethnically otherwise objectionable;</p>

<p>Contain material that violates the standards of good taste or the standards of the Properties;</p>

<p>Violate any third-party right, including, but not limited to, right of privacy, right of publicity, copyright, trademark, patent, trade secret, or any other intellectual property or proprietary rights;</p>

<p>Accuse others of illegal activity, or describe physical confrontations and/or sexual harassment;<p>

<p>Contain material that is illegal, or that violates any federal, state or local law or regulation;<p>

<p>Contain language or images intended to impersonate another person or offensive or inappropriate user names or signatures;<p>

<p>Disguise or attempt to disguise the origin of Your Content</p>

<p>Be a shill or a deceptive advertisement or cause, or be a result of, a conflict of interest;<p>

<p>Be commercial in nature, including but not limited to spam, surveys, contests, pyramid schemes or other advertising materials;<p>

<p>Assert or imply that Your Content is in any way sponsored or endorsed by us; or Contain material that is not in English;each as determined in our sole discretion.</p>

<p>You agree not to republish Your Content anywhere in any medium, whether existing now or in the future, unless (a) Mend declines to publish Your Content and has provided written notice of the rejection; or (b) Mend has provided you with written authorization to republish.</p>

<p>We may use, post or refuse to post, disable from view, remove or reinstate any content (including Your Content) in our sole discretion. Without limiting the generality of the foregoing, we may, but are not obligated to, hide or remove any of Your Content that we determine, in our sole discretion, to be in violation of the Terms. We are not obligated to return any of Your Content to you under any circumstances.<p>

<p>2. Our Content</p>

<p>We are the sole and exclusive copyright owners of the Properties and our content, including, but not limited to, any text, images, audio, videos, visual interfaces, interactive features, graphics, design, compilation, computer code, products, software, aggregate user reports and other usage-related data in connection with your use of the Properties, and all other elements and components of the Properties excluding Your Content and third party content (“Our Content”). Some of Our Content may be provided by third party contributors who receive consideration from us. As between Mend and you, Mend owns all the copyrights, trademarks, service marks, logos, trade names, trade dress and other intellectual and proprietary rights throughout the world (the “IP Rights”) associated with the Properties and Our Content, which may be protected by copyright, patent, trademark and other applicable intellectual property and proprietary rights and laws. You may not use, copy, display, distribute, modify, translate, reformat, incorporate into advertisements and other works, promote, create derivative works, or in any way exploit or allow others to exploit any of Our Content in whole or in part except as expressly authorized by us. Except as otherwise expressly granted by you in writing, we do not grant you any other express or implied right or license to the Properties, Our Content or our IP Rights.</p>

<p>3. Copyright Infringement</p>

<p>If you believe that your copyright has been or is being infringed upon by material found in the Properties, you must follow the procedure outlined below to file a notification as required by the U.S. Digital Millennium Copyright Act (the “DMCA”). You may be subject to liability under Section 512(f) of the DMCA if you knowingly make any misrepresentations on a take-down notice:<p>

<p>Identify in writing the copyrighted material that you claim has been infringed upon;</p>

<p>Identify in writing the material on the Properties that you allege is infringing upon copyrighted material, and provide sufficient information that reasonably identifies the location of the alleged infringing material (for example, the user name of the alleged infringer and the business listing it is posted under);</p>

<p>Include the following statement: “I have a good faith belief that the use of the content on the Properties as described above is not authorized by the copyright owner, its agent, or law.”;</p>

<p>Include the following statement: “I swear under the penalty of perjury that the information in my notice is accurate and I am the copyright owner or I am authorized to act on the copyright owner’s behalf.”;</p>

<p>Provide your contact information including your address, telephone number, and email address (if available);<p>

<p>Provide your physical or electronic signature; and send the written communication to:</p>

<p>Mend<p>

<p>578 Washington Blvd #1114</p>

<p>Marina del Rey, CA 90292</p>

<p>ATTENTION: DMCA</p>

<p>Email: letsmendteam@gmail.com</p>

<p>E. RESTRICTIONS ON USE</p>

<p>Without limiting the generality of these Terms, you specifically agree not to do the following while using the Properties:</p>

<p>Use the Properties for illegal or unauthorized uses;</p>

<p>Register for more than one Mend account or register a Mend account on behalf of an individual other than yourself;</p>

<p>Impersonate any person or entity;</p>

<p>‘Stalk’ or harass other users or persons;</p>

<p>Contact another user for any purpose;</p>

<p>Harm minors in any way;</p>

<p>Falsely state or misrepresent your affiliation with another person or entity;</p>

<p>Infringe any patent, trademark, trade secret, service mark, copyright, or other intellectual property right of another person;</p>

<p>Access or use the account of another user without permission;</p>

<p>Solicit, spam or otherwise advertise to users and/or business using Our Content or the Properties;</p>

<p>Distribute unsolicited or unauthorized advertising, surveys, contests, promotional materials, ‘junk mail’, ‘spam’, ‘chain letters’, ‘pyramid schemes’, or other messages for any purposes;</p>

<p>Distribute computer viruses or other code, files, or programs that interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment;</p>

<p>Interfere with, disrupt, or destroy the servers or networks connected to the Properties, or disobey any rules or regulations applicable to such servers or networks;</p>

<p>‘Hack’ or access without permission our proprietary or confidential records, those of another user, or those of anyone else;</p>

<p>Violate any contract or fiduciary relationship (for example, by disclosing proprietary or confidential information of your employer or client in breach of any employment, consulting or non-disclosure agreement);</p>

<p>Violate any applicable law, rule, or regulation;</p>

Decompile, reverse engineer, disassemble, or otherwise attempt to derive source code from the Properties;</p>

<p>Remove, circumvent, disable, damage, or otherwise interfere with security-related features, or features that enforce limitations on use of, the Properties; and/or</p>

<p>Modify, copy, distribute, publish, license, sell, rent, lease, lend, transfer or otherwise commercialize any rights to the Properties or Our Content or any third party content available on or through the Properties;each as determined in our sole discretion.</p>

<p>You acknowledge that we have no obligation to monitor your access to or use of the Properties or review the content, conduct or services of other users or third parties, but that we have the right to do so for the purpose of operating the Properties. We may at any time in our sole discretion (i) move, edit, delete, or destroy any materials that you provide or deliver; (ii) access, preserve, or disclose in accordance with our Privacy Policy any materials that you provide or deliver including information that may be collected from you from your web browser or mobile device; (iii) suspend or terminate your access to and use of the Properties or any of their features in response to a breach of these Terms, or for any or no reason; or (iv) take any other action available at law in response to a breach of these Terms.</p>

<p>F. NO ENDORSEMENT</p>

<p>Mend does not endorse the content, conduct and/or services of any users or third parties offered on or through the Properties. Although the Terms do require users and third parties to provide accurate information, we do not verify the accuracy of this information, nor do we confirm the identity of any users or third parties. We do not screen or investigate users or third parties before or after they are included on our Properties. You are solely responsible for determining the identity and suitability of the users and/or third parties. We reserve the right, in our sole discretion, and without any obligation to make improvements to, or correct any error or omissions in any portion of the Properties. Where appropriate, we may in our sole discretion and without any obligation, verify any updates, modifications, or changes to any content accessible on the Properties, but will not be liable for any delay or inaccuracies related to such updates.</p>

<p>Furthermore, some of the content available through the Properties may include materials that belong to other users or third parties. We have no control over, and make no representation or endorsement regarding the accuracy, relevancy, copyright compliance, legality, completeness, timeliness or quality of any product, service, advertisement, and other content appearing in or linked to from the Properties.</p>

<p>The content, conduct and/or services of users and third parties available on or through the Properties do not reflect our views or that of our parent, subsidiary, affiliated companies, investors, partners, employees, officers, directors, or shareholders. In addition, none of the content or material available through the Properties are endorsed or certified by the providers or licensors of such content. We assume no responsibility or liability for any of Your Content, or other user or third party content, conduct or services offered through our Properties.</p>

<p>Without limiting the generality of the foregoing, Mend is not intended to be a substitute for professional advice, diagnosis, treatment, medical treatment, psychotherapy, counseling, or mental health services. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding any mental health symptom or medical condition. Never disregard professional psychological or medical advice or delay in seeking it because of something you have read on Mend. Please call 911 immediately if you believe that you or someone you know will harm themselves. Additional support can be found at the National Suicide Prevention Lifeline (1800-273-8255) and the National Domestic Violence Hotline (1800-799-7233).</p>

<p>Mend does not recommend or endorse any specific tests, products, procedures, opinions, or other information that may be mentioned on the Properties. Reliance on any information provided by or through the Properties, Mend employees, third parties or others appearing on the Properties is solely at your own risk.</p>

<p>Users who submit questions or answers on or through the Properties acknowledge that their questions or answers may be published on the Properties and made public at the discretion of Mend. By submitting content, users give their consent to publish the submitted content. Users understand that it is their responsibility to exclude any identifying information from their submission, even though Mend will make every effort to remove identifying information. Users who submit questions understand that not all submissions will be responded to and, those that are, generally take one to two weeks to publish.</p>

<p>G. PRIVACY AND SECURITY</p>

<p>Please review our Privacy Policy for details on information we may collect about you and the software(s) and hardware(s) you are using, including without limitation, location information that may be collected as a result of your use of the Properties. It is important that you read and understand the terms of our Privacy Policy.</p>

<p> make efforts to maintain the security of user submissions. For example, we arrange for encryption, firewall, antivirus, and spyware protection to the extent that we deem advisable to protect your personal information and conduct our business. However, we do not guarantee the security of the Properties, our records, your submissions, or anything else. We disclaim all liability for any computer virus or technological problems that we do not intentionally cause. You are encouraged to install and maintain up-to-date security software on your computer.</p>

<p>H. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</p>

<p>1. Disclaimer of Warranties</p>

<p>IF YOU CHOOSE TO USE THE PROPERTIES, YOU DO SO AT YOUR SOLE RISK. YOU ACKNOWLEDGE AND AGREE THAT MEND DOES NOT HAVE AN OBLIGATION TO CONDUCT BACKGROUND CHECKS ON ANY USER OR THIRD PARTY, BUT MAY CONDUCT SUCH BACKGROUND CHECKS IN ITS SOLE DISCRETION. MEND MAKES NO WARRANTIES, GUARANTEES, REPRESENTATIONS, OR PROMISES REGARDING THE ACCURACY, COMPLETENESS, RELIABILITY, OR SUITABILITY OF THE INFORMATION CONTAINED IN THE PROPERTIES. THE INFORMATION ON THE PROPERTIES MAY CONTAIN INACCURACIES, ERRORS OR OMISSIONS, FOR WHICH WE EXPRESSLY DISCLAIM ANY LIABILITY. THE PROPERTIES, AND ANY AND ALL CONTENT ON THE PROPERTIES, ARE PROVIDED TO YOU “AS IS” AND “AS AVAILABLE”, WITHOUT WARRANTY OF ANY KIND, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR NON-INFRINGEMENT. MEND MAKES NO WARRANTY THAT THE PROPERTIES AND ANY CONTENT THEREIN WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE OR ERROR-FREE BASIS.</p>

<p>YOU ARE SOLELY RESPONSIBLE AND ASSUME THE ENTIRE RISK FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OR THIRD PARTIES OF THE PROPERTIES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE, INTERACT, OR WHOSE SERVICES YOU ENGAGE WITH AS A RESULT OF YOUR USE OF THE PROPERTIES. YOU UNDERSTAND THAT MEND DOES NOT MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS, OPINIONS, ADVICE OR OTHER MATERIALS OF USERS OR THIRD PARTIES OF THE PROPERTIES OR TO REVIEW, INSPECT OR SCREEN ANY USERS OR THIRD PARTIES. MEND MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OR THIRD PARTIES OF THE PROPERITES OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USERS OR THIRD PARTIES OF THE PROPERITES. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OR THIRD PARTIES OF THE PROPERTIES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE AND INTERACT WITH AS A RESULT OF YOUR USE OF THE PROPERTIES, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON REGARDLESS OF WHETHER SUCH MEETINGS ARE ORGANIZED BY MEND. MEND EXPLICITLY DISCLAIMS ALL LIABILITY FOR ANY AND ALL ACTS OR OMISSIONS OF ANY USER OR OTHER THIRD PARTY.</p>

<p>MEND MAKES NO WARRANTIES, GUARANTEES, REPRESENTATIONS, OR PROMISES REGARDING THE COMPATIBILITY OF OUR PROPERTIES WITH ANY PARTICULAR SOFTWARE OR HARDWARE DEVICES. YOUR USE OF THE PROPERTIES IS AT YOUR OWN DISCRETION AND RISK, AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR SOFTWARE OR HARDWARE DEVICE(S) OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF THE PROPERTIES.</p>

<p>2. Limitation of Liability</p>

<p>YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ENTIRE RISK ARISING OUT OF YOUR ACCESS TO AND USE OF THE PROPERTIES, AND ANY CONTACT YOU HAVE WITH OTHER USERS OR OTHER THIRD PARTIES WHETHER IN PERSON OR ONLINE REMAINS WITH YOU. NEITHER MEND NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE PROPERTIES WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR LOSS OF GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, OR FOR ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS ARISING OUT OF OR IN CONNECTION WITH THESE TERMS, FROM THE USE OF OR INABILITY TO USE THE PROPERTIES, FROM ANY COMMUNICATIONS, INTERACTIONS, ENGAGEMENTS, OR MEETINGS WITH OTHER USERS OR THIRD PARTIES OF THE PROPERTIES OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE PROPERTIES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), MALPRACTICE, PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT MEND HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.  IN NO EVENT WILL MEND’S AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS AND YOUR USE OR INABILITY TO USE THE PROPERTIES INCLUDING, AND IN CONNECTION WITH ANY INTERACTIONS WITH ANY OTHER USERS OR THIRD PARTIES, EXCEED ONE HUNDRED DOLLARS ($100), AS APPLICABLE. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN MEND AND YOU. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>

<p>I. REPORTING MISCONDUCT</p>

<p>If any user or third party is acting or has acted inappropriately, including but not limited to, anyone who (a) engages in offense, violent, or sexually inappropriate behavior, (ii) you suspect of stealing from you, or (iii) engages in any other disturbing conduct, you should immediately report such person to the appropriate authorities and then to Mend by contacting us with your police station and report number at letsmendteam@gmail.com  provided that your report will not obligate us to take any action beyond that required by law (if any) or cause us to incur any liability to you.</p>

<p>J. MISCELLANEOUS</p>

<p>1. Indemnity</p>

<p>You agree to indemnify, defend, and hold harmless us and our affiliates, subsidiaries, successors, assignees, licensees, investors, directors, officers, employees, agents, contractors, vendors, business partners, owners, and professional advisors from any claims, damages, liabilities, costs, or expenses (including without limitation court costs, collection costs, and reasonable attorney fees) related to (i) Your Content, (ii) your use of the Properties, (iii) interaction, engagement or meeting with any user or third party; and/or (iv) your breach of these Terms. We reserve the right to take over the exclusive defense of any claim for which we are entitled to indemnification under this section. In such event, you will provide us with such cooperation as is reasonably requested by us.</p>

<p>2. Data Fees</p>

<p>Data, messaging, or other ISP and carrier fees may apply in your use of the Properties.</p>

<p>3. Interpretation</p>

The section and subject headings in these Terms are included for reference only and shall not be used to interpret any provisions of these Terms. These Terms shall not be construed against us on the grounds that we conducted or arranged for the drafting of the Terms.</p>

<p>4. Governing Law / Dispute Resolution</p>

These Terms are governed exclusively by the laws of the State of California and the United States. Any controversy or claim relating to these Terms or the Properties shall be submitted to the judicial courts located in Los Angeles County in the State of California. You consent to the exclusive jurisdiction of those courts. You must commence any legal action against us within one (1) year after the alleged harm initially occurs. Failure to commence the action within that period shall forever bar any claims or causes of action regarding the same facts or occurrence. WHERE PERMITTED BY LAW, YOU HEREBY WAIVE YOUR RIGHTS TO A JURY TRIAL.</p>

<p>5. Severability</p>

If any provision of these Terms is deemed unlawful, invalid, or unenforceable by a judicial court for any reason, then that provision shall be deemed severed from these Terms, and the remainder of the Terms shall continue in full force and effect.</p>

<p>PRIVACY POLICY</p>
 

<p>We take your privacy and personal information seriously. This privacy policy applies to our website and any related properties (collectively, the “Properties”). This policy does not apply to other third party websites that may be linked from our site; those websites are subject to their own privacy policies. If we make changes to our privacy policy in the future, we will post those changes here.</p>

<p>When you visit our Properties, some personally identifiable and non-identifiable information may be collected both automatically or at your own will, including, but not limited to, the following: name, age, gender, email address, postal address, phone number, photograph, questionnaire/survey answers, username, password, comments, IP address, referring websites, language preferences, clicked links, session information, demographic information, device information, browser information, operating system information, searches performed, bandwidth information, server log information and information collected through cookies, pixel tags or third party site-related services. Lastly, if you choose to comment or share information in public forums, please be aware that those communications become public information and you are sharing at your own risk.</p>

<p>We do not sell your information to third parties. We may use the collected information to communicate with you via email, postal address or phone number from time to time. You may unsubscribe or update your preferences at any time either on the Properties or by emailing letsmendteam@gmail.com. If you have signed up for any of our services, we may use your given information to deliver those services. We may also use the collected information to tailor and improve the ads or content on our Properties.</p>

<p>In order to improve our Properties and the user experience, we use a popular web analytics service called Google Analytics, which is subject to its own Terms of Use & Privacy Policy seen at www.google.com/analytics. We may also employ authorized third parties to help us with advertising, commenting, platform integration, site maintenance, analytics, marketing, communication and payments. In those circumstances, we will only share information that is needed to perform the service. Please be aware those third parties maintain their own Terms of Use & Privacy Policy.</p>

<p>We may disclose your information in order to enforce our Terms of Use, comply with any legal process or inquiry, protect our legal rights and safety and protect our users’ safety and security. In the event of a sale, merger or transfer to another entity, we will notify our users via email and our website before transferring personal information to that entity.</p>

<p>While we take privacy seriously, we acknowledge that no system is completely secure and we cannot ensure or warrant the security of any information shared with our Properties. By continuing the use of our Properties, you agree to the terms in this policy. Should you have any questions about our privacy policy, please email us at letsmendteam@gmail.com.</p>

</div>
</body>
