<div class = "row">
	<div class = "large-6 columns">
			<div class = "aboutbox">
				<p>PRIVACY</p>
				<p>POLICY</p>
			</div>
			<div class = "about">

<p>We take your privacy and personal information seriously. This privacy policy applies to our website and any related properties (collectively, the “Properties”). This policy does not apply to other third party websites that may be linked from our site; those websites are subject to their own privacy policies. If we make changes to our privacy policy in the future, we will post those changes here.</p>

<p>When you visit our Properties, some personally identifiable and non-identifiable information may be collected both automatically or at your own will, including, but not limited to, the following: name, age, gender, email address, postal address, phone number, photograph, questionnaire/survey answers, username, password, comments, IP address, referring websites, language preferences, clicked links, session information, demographic information, device information, browser information, operating system information, searches performed, bandwidth information, server log information and information collected through cookies, pixel tags or third party site-related services. Lastly, if you choose to comment or share information in public forums, please be aware that those communications become public information and you are sharing at your own risk.</p>

<p>We do not sell your information to third parties. We may use the collected information to communicate with you via email, postal address or phone number from time to time. You may unsubscribe or update your preferences at any time either on the Properties or by emailing letsmendteam@gmail.com. If you have signed up for any of our services, we may use your given information to deliver those services. We may also use the collected information to tailor and improve the ads or content on our Properties.</p>

<p>In order to improve our Properties and the user experience, we use a popular web analytics service called Google Analytics, which is subject to its own Terms of Use & Privacy Policy seen at www.google.com/analytics. We may also employ authorized third parties to help us with advertising, commenting, platform integration, site maintenance, analytics, marketing, communication and payments. In those circumstances, we will only share information that is needed to perform the service. Please be aware those third parties maintain their own Terms of Use & Privacy Policy.</p>

<p>We may disclose your information in order to enforce our Terms of Use, comply with any legal process or inquiry, protect our legal rights and safety and protect our users’ safety and security. In the event of a sale, merger or transfer to another entity, we will notify our users via email and our website before transferring personal information to that entity.</p>

<p>While we take privacy seriously, we acknowledge that no system is completely secure and we cannot ensure or warrant the security of any information shared with our Properties. By continuing the use of our Properties, you agree to the terms in this policy. Should you have any questions about our privacy policy, please email us at letsmendteam@gmail.com.
</p>
</div>