<div class = "row">
	<div class = "large-6 columns">
			<div class = "aboutbox">
				<p>THANK YOU</p>
				<p>FOR</p>
				<p>SHARING</p>
			</div>
			<div class = "about">
				<p>Thank you so much for sharing your stories and advice. We will respond to your submission whether or not we'd like to publish it, so no worries if you need to make an edit - you'll have a chance to work through those with our editor. If you have any questions in the meantime, please email submissions@letsmend.com.</p>
			</div>
			<div class= "aboutsocial">
				<a href="http://twitter.com/letsmend"><i class="fi-social-twitter"></i></a>
				<a href="http://instagram.com/letsmend"><i class="fi-social-instagram"></i></a>
				<a href="http://youtube.com/letsmend"><i class="fi-social-youtube"></i></a>
				<a href="http://facebook.com/letsmend"><i class="fi-social-facebook"></i></a>
			</div>
		</div>
</div>