<div class = "youcontainer">
	<div class = "row">
		<div class = "large-6 columns">
			<div class = "sharestory">
				<div class = "youbox">
					<p>SHARE</p>
					<p>YOUR</p>
					<p>STORY</p>
				</div>
				<div class="shareadvicetext">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
		<div class = "large-6 columns">
			<div class = "sharestory">
				<div class = "youbox">
					<p>SHARE</p>
					<p>YOUR</p>
					<p>STORY</p>
				</div>
				<div class="shareadvicetext">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>

	<form>
		<div class="row">
			<div class="small-4 columns">
				<h1>READY TO SHARE?</h1>
				<label>Your name</label>
				<input type="text" placeholder="Jessica Day (yup that's right)" />
		    
		    <label>Your email</label>
		    <input type="text" placeholder="you@theinternets.com"/>
		      
		    <label>What best describes your submission?</label>
		    <input id="checkbox1" type="checkbox"><label for="checkbox1">Story</label>
		    <input id="checkbox2" type="checkbox"><label for="checkbox2">Advice</label>
		  </div>
		  
		  <div class="large-12 columns">
				<p>
					Tell us what you'd like to write, or copy and paste what you have already written. Include a working post title and a brief bio of yourself (2-3 sentences and any links to your websites or social profiles).
				</p>
				<p>
					We cannot publish every submission, but we will respond to every submission received to let you know whether we can publish yours. You will have a chance to review the final post before it goes live, so do not worry if you need to make an edit or if you decide you'd like to post anonymously.
				</p>

				<textarea placeholder="Copy and paste time!"></textarea>

		    <div class= "submitbutton">
		    	<a href="#" class="submitbutton">SUBMIT</a>
		    </div>
		  </div>
		</div>
	</form>
</div>