/*ABOUT PAGE*/

.about-wrapper {
  font-family: 'Lato', sans-serif;
}

.aboutbox {
  width: 300px;
  height: 150px;
  border: solid;
  font-size: 30px;
  margin-top: 50px;
  color: #D7DDE0;
}

.aboutbox p{
  text-align: left;
  font-size: 24px;
  font-family: "lato";
  line-height: 0.4;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #5A5E68;
}

/*styling for each about box*/

.about p{
  font-size: 16px;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
  padding: 0px;
  color: #5A5E68;
}

/*styling for nav which i'm not using right now in current version of this page*/

.aboutnavigation{
  line-height: 0.75;
  margin: 0px;
}

.aboutnavigation ul{
  padding-left: 0;
}
.aboutnavigation ul li { 
  display: inline; 
  font-family: "lato", sans-serif;
  font-size: 16px;
}

.aboutnavigation ul li a{
  color: black;
}


