/*#social-icons {
  position:absolute;
  bottom:0;
  right:0;
}

.st_tumblr_custom {
  background-image: url("") no-repeat scroll left top transparent;
  padding:0px 16px 0 0;
  color:white;

}
.st_facebook_custom {
  background: url("fi-social-facebook.svg") no-repeat scroll left top transparent;
  padding:0px 16px 0 0;
  color: white;
}
.st_instagram_custom{

}
.st_twitter_large {

}


*/
